## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.pdf
*.dvi

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Bibliography auxiliary files:
*.bbl
*.blg
*.bcf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

.DS_Store

# node_modules
node_modules/